@model IEnumerable<DoAn1_DDG_Pro.Models.ProductType>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhMucLoai";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmins.cshtml";
}

<h1>Danh Mục Loại Sản Phẩm</h1>

<p>
    <a asp-action="ThemLoai">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                   
                    <a asp-action="XoaLoai"  asp-route-id="@item.TypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
