
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DoAn1_DDG_Pro.Models.Product

@{
    ViewData["Title"] = "ThemSanPhamMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmins.cshtml";
}

<h1>Thêm Sản Phẩm Mới</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemSanPhamMoi" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class ="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImgUpLoad" class="control-label"></label>
                <input asp-for="ImgUpLoad" class="form-control" type="file" />
                <span asp-validation-for="ImgUpLoad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImgUpLoad2" class="control-label"></label>
                <input asp-for="ImgUpLoad2" class="form-control" type="file" />
                <span asp-validation-for="ImgUpLoad2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

