 @model IEnumerable<ProductType>

<div class="col-lg-cus">
                                <div class="sidebar-content">
                                    <div class="title-menu menu-clicked">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" x="0" y="0" viewBox="0 0 60.123 60.123" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg"><path d="M57.124,51.893H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3S58.781,51.893,57.124,51.893z"></path><path d="M57.124,33.062H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3   C60.124,31.719,58.781,33.062,57.124,33.062z"></path><path d="M57.124,14.231H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3S58.781,14.231,57.124,14.231z"></path><circle cx="4.029" cy="11.463" r="4.029"></circle><circle cx="4.029" cy="30.062" r="4.029"></circle><circle cx="4.029" cy="48.661" r="4.029"></circle></g></g></svg>
                                        <span>Danh mục sản phẩm</span>
                                    </div>
                                    <div class="sidebar-menu sidebar-menu--colum">
                                        <div class="main-menu mainMenujs setHeight">
                                            <ul class="link-list list-root">
                                                @foreach(var item in Model)
                                                {
                                                    <li class="item "><a asp-controller="Home" asp-action="SanPhamTheoLoai" asp-route-typeid="@item.TypeId" >@item.TypeName</a></li>
                                                }
                                           </ul> 
                                        </div>
                                        <div class="site-overlay"></div>
                                    </div>
                                </div>
                            </div>