
@{
    ViewData["Title"] = "NhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmins.cshtml";
}

<h1>NhanVien</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>#####</th>
            <th> Name </th>
            <th> Email </th>
            <th> SDT </th>
            
            <th>Chức Vụ</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="py-1">
                <img src="~/LayoutAdmin/assets/images/faces-clipart/pic-1.png" alt="image">
            </td>
            <td> Phat123 </td>
            <td>
                ttmdvhd@gmail.com
            </td>
            <td>0385042009</td>
          
            <td> Quản Lý </td>
        </tr>
        <tr>
            <td class="py-1">
                <img src="~/LayoutAdmin/assets/images/faces-clipart/pic-2.png" alt="image">
            </td>
            <td> Khoasd001 </td>
            <td>
                quntsd@gamil.com
            </td>
            <td>0358062635</td>
            <td>Nhân Viên</td>
        </tr>

    </tbody>
</table>
